/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Apr, 2019, 11:09:22 AM
    Author     : kiren
*/

.mandatory{

    color: #d33724;
}

.margin-top-10{

    margin-top: 10px;
}